[package]
name = "dsp-fixedpoint"
version = "0.1.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[features]
std = []

[dependencies]

[lints]
workspace = true
