name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
env:
  CARGO_TERM_COLOR: always

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - run: cargo fmt --all --check
      - run: cargo clippy --all-features

  compile:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [stable, beta, nightly]
        features: ["std"]
    continue-on-error: ${{ matrix.toolchain == 'nightly' }}
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      - run: cargo check --features "${{ matrix.features }}"
      - run: cargo test --features "${{ matrix.features }}"
      - run: cargo bench --features "${{ matrix.features }}"
      - run: cargo build --release --features "${{ matrix.features }}"

  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo doc --no-deps
      - run: cargo install cargo-deadlinks
      - run: cargo deadlinks --ignore-fragments --check-intra-doc-links

  embedded:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          target: thumbv7em-none-eabihf
      - run: cargo build --release
        working-directory: tests/embedded
